In [1]:
import pandas as pd
%matplotlib inline

pd.options.display.max_rows = 20

In [2]:
data = pd.read_csv('data.csv', index_col='id')
data

,Name,Short_country_name,Full_country_name,P1,P2,P3,P4,P5,P6,Points,Rank,Year,Achievement
id,,,,,,,,,,,,,
15785,Konstantin Matveev,RUS,Russian Federation,7,7,2,7,7,7,37,1,2007,Gold medal
8821,Caili Shen,CHN,People's Republic of China,7,7,7,7,7,1,36,2,2007,Gold medal
8976,Danylo Radchenko,UKR,Ukraine,7,7,0,7,7,7,35,4,2007,Gold medal
7893,Toshiki Kataoka,JPN,Japan,7,7,3,7,7,1,32,7,2007,Gold medal
15770,Livia Alexandra Ilie,ROU,Romania,7,7,4,7,7,0,32,7,2007,Gold medal
8868,Alex (Lin) Zhai,USA,United States of America,7,7,3,7,7,1,32,7,2007,Gold medal
8884,Jeha Yang,KOR,Republic of Korea,7,7,2,7,7,1,31,12,2007,Gold medal
8410,Panupong Pasupat,THA,Thailand,7,7,3,7,7,0,31,12,2007,Gold medal
8500,Jack Shotton,UNK,United Kingdom,7,7,2,7,7,1,31,12,2007,Gold medal
8878,Nikolay Ivanov Beluhov,BGR,Bulgaria,7,7,2,7,7,0,30,19,2007,Gold medal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26456,Kais Mussa,KEN,Kenya,0,0,0,0,0,0,0,568,2016,NaN
26996,Namfone Homsombath,LAO,Laos,0,0,0,0,0,0,0,568,2016,NaN
26993,Silinapha Phommasone,LAO,Laos,0,0,0,0,0,0,0,568,2016,NaN
26998,Somsanouk Sibountien,LAO,Laos,0,0,0,0,0,0,0,568,2016,NaN
26908,Alain Priva Hajamapionona,MDG,Madagascar,0,0,0,0,0,0,0,568,2016,NaN
26682,Shine Maw Arnt,MMR,Myanmar,0,0,0,0,0,0,0,568,2016,NaN
26680,Hnin Wai,MMR,Myanmar,0,0,0,0,0,0,0,568,2016,NaN
26432,Osama Zeeshan Ahmad,PAK,Pakistan,0,0,0,0,0,0,0,568,2016,NaN
26994,Mekan Shahanov,TKM,Turkmenistan,0,0,0,0,0,0,0,568,2016,NaN
26512,Dilshod Bakhriddinov,UZB,Uzbekistan,0,0,0,0,0,0,0,568,2016,NaN

In [3]:
data['Name']

id
15785           Konstantin Matveev
8821                    Caili Shen
8976              Danylo Radchenko
7893               Toshiki Kataoka
15770         Livia Alexandra Ilie
8868               Alex (Lin) Zhai
8884                     Jeha Yang
8410              Panupong Pasupat
8500                  Jack Shotton
8878        Nikolay Ivanov Beluhov
                   ...
26456                   Kais Mussa
26996           Namfone Homsombath
26993         Silinapha Phommasone
26998         Somsanouk Sibountien
26908    Alain Priva Hajamapionona
26682               Shine Maw Arnt
26680                     Hnin Wai
26432          Osama Zeeshan Ahmad
26994               Mekan Shahanov
26512         Dilshod Bakhriddinov
Name: Name, dtype: object

In [4]:
data['P6']

id
15785    7
8821     1
8976     7
7893     1
15770    0
8868     1
8884     1
8410     0
8500     1
8878     0
        ..
26456    0
26996    0
26993    0
26998    0
26908    0
26682    0
26680    0
26432    0
26994    0
26512    0
Name: P6, dtype: int64

In [5]:
data[['Name', 'Points']].sort_values('Name')

                                 Name  Points
id
25050                    Aadil Oufkir      14
25631                Abbos Muhammedov      14
18921               Abdelatif Mharchi       3
18962           Abdelilah El Hadfaoui       7
19574              Abdelmalek Mharchi       7
26075            Abdelmouksit Sagueni       6
21059  Abdelrahman Ali Khamis Alnaqbi       0
26785          Abdou Oussama Benabida      12
20513    Abdulbaset Hassoun Al Najjar       1
21060          Abdulla Fahad Ali Saif       0
...                               ...     ...
25105               Đăng Hưng Hồ Quốc      22
23420                   Đỗ Kiên Hoàng      24
17974                 Đỗ Thị Thu Thảo      29
26579                      Đức Tài Vũ      19
18740                    Ēriks Gopaks       4
26314               İhsan Mert Atalay      17
20435                    Štěpán Šimsa      21
23495                Žarko Ranđelović      29
21762                    Žiga Krajnik       8
21762                    Žiga Krajnik       9

[2759 rows x 2 columns]

In [8]:
data[data.Points >= 40].sort_values('Points', ascending=False)

,Name,Short_country_name,Full_country_name,P1,P2,P3,P4,P5,P6,Points,Rank,Year,Achievement
id,,,,,,,,,,,,,
17494,Xiaosheng Mu,CHN,People's Republic of China,7,7,7,7,7,7,42,1,2008,Gold medal
26657,Yuan Yang,CHN,People's Republic of China,7,7,7,7,7,7,42,1,2016,Gold medal
8473,Makoto Soejima,JPN,Japan,7,7,7,7,7,7,42,1,2009,Gold medal
24925,Allen Liu,USA,United States of America,7,7,7,7,7,7,42,1,2016,Gold medal
19762,Zipei Nie,CHN,People's Republic of China,7,7,7,7,7,7,42,1,2010,Gold medal
15545,Lisa Sauermann,GER,Germany,7,7,7,7,7,7,42,1,2011,Gold medal
18627,Jeck Lim,SGP,Singapore,7,7,7,7,7,7,42,1,2012,Gold medal
26761,Eui Cheon Hong,KOR,Republic of Korea,7,7,7,7,7,7,42,1,2016,Gold medal
8868,Alex (Lin) Zhai,USA,United States of America,7,7,7,7,7,7,42,1,2008,Gold medal
21335,Alexander Gunning,AUS,Australia,7,7,7,7,7,7,42,1,2014,Gold medal
23512,Po-Sheng Wu,TWN,Taiwan,7,7,7,7,7,7,42,1,2014,Gold medal
19624,Zhuo Qun (Alex) Song,CAN,Canada,7,7,7,7,7,7,42,1,2015,Gold medal
26661,Lingjie Mei,CHN,People's Republic of China,7,7,6,7,7,7,41,7,2016,Gold medal
21428,Yutao Liu,CHN,People's Republic of China,7,7,7,7,7,6,41,1,2013,Gold medal
15545,Lisa Sauermann,GER,Germany,7,6,7,7,7,7,41,3,2009,Gold medal
25947,Junghun Ju,KOR,Republic of Korea,7,5,7,7,7,7,40,3,2015,Gold medal
20977,Chung Song Hong,PRK,Democratic People's Republic of Korea,7,7,7,7,6,6,40,3,2013,Gold medal

In [6]:
data_years = data.groupby('Year')

In [7]:
data_years['Points'].mean()

Year
2007    13.976923
2008    15.100746
2009    15.109541
2010    15.174419
2011    14.723404
2012    14.372263
2013    15.625000
2014    16.100000
2015    12.996540
2016    14.810631
Name: Points, dtype: float64

In [8]:
data_competitors = data.groupby('Name')

In [10]:
data_competitors['Points'].sum().sort_values(ascending=False)[:20]

Name
Nipun Pitimanaaree              127
Zhuo Qun (Alex) Song            123
Lisa Sauermann                  118
Makoto Soejima                  107
Teodor von Burg                 105
Raúl Arturo Chávez Sarmiento     98
Daniil Kliuev                    98
Sheldon Kieren Tan               96
Dušan Milijančević               93
Omer Cerrahoglu                  89
Elena Mădălina Persu             86
Kevin Sun                        86
Domagoj Ćevid                    85
Hunter Spink                     80
Juan Carlos Ortiz Rhoton         77
Takuma Kitamura                  75
Allen Liu                        75
Alex (Lin) Zhai                  74
Bobby Shen                       74
Sampson Wong                     74
Name: Points, dtype: int64

In [11]:
data_years['P1', 'P2', 'P3', 'P4', 'P5', 'P6'].mean()

            P1        P2        P3        P4        P5        P6
Year
2007  3.484615  2.530769  0.280769  5.565385  1.984615  0.130769
2008  5.000000  2.522388  0.783582  4.429104  2.097015  0.268657
2009  4.752650  3.710247  1.084806  3.035336  2.360424  0.166078
2010  5.519380  2.662791  0.500000  5.232558  0.945736  0.313953
2011  5.343972  0.648936  1.035461  4.035461  3.319149  0.340426
2012  5.631387  2.554745  0.394161  3.755474  1.704380  0.332117
2013  4.030303  2.325758  0.890152  5.590909  2.507576  0.280303
2014  5.350000  2.960714  0.542857  5.185714  1.653571  0.407143
2015  4.297578  1.415225  0.657439  4.865052  1.449827  0.311419
2016  5.259136  2.003322  0.239203  4.823920  1.740864  0.744186

In [14]:
data_countries = data.groupby('Full_country_name')

In [15]:
data_countries['Points'].mean().sort_values(ascending=False)[:20]

Full_country_name
People's Republic of China               32.942857
United States of America                 30.851852
Russian Federation                       29.812500
Republic of Korea                        29.766667
Japan                                    26.968750
Democratic People's Republic of Korea    26.958333
Taiwan                                   26.781250
Thailand                                 25.967742
Vietnam                                  25.718750
Islamic Republic of Iran                 25.500000
Canada                                   25.028571
Ukraine                                  23.818182
Singapore                                23.583333
Romania                                  23.558824
Turkey                                   23.027778
Germany                                  22.666667
Bulgaria                                 21.900000
United Kingdom                           21.814815
Hungary                                  21.500000
Brazil                                   21.428571
Name: Points, dtype: float64

In [17]:
data_countries['Points'].sum().sort_values(ascending=False)[:20]

Full_country_name
People's Republic of China               1153
Russian Federation                        954
Republic of Korea                         893
Canada                                    876
Japan                                     863
Taiwan                                    857
United States of America                  833
Turkey                                    829
Vietnam                                   823
Islamic Republic of Iran                  816
Thailand                                  805
Romania                                   801
Ukraine                                   786
Germany                                   748
Peru                                      737
Australia                                 659
Bulgaria                                  657
Italy                                     654
Democratic People's Republic of Korea     647
India                                     612
Name: Points, dtype: int64